*
{
      margin: 0;
      padding: 0;
}
body
{
      background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(homeimg.jpg);
      background-size: cover;
      background-position: center;
}
.main-nav
{
      float: right;
      list-style: none;
      margin-top: 30px;
}
.main-nav li
{
      display: inline-block;
}
.main-nav li a
{
     color: white;
     text-decoration: none;
     padding: 5px 30px;
     font-family: "Roboto", sans-serif;
     font-size: 15px;
}
.main-nav li.active a
{
     border: 1px solid white;
}
.main-nav li a:hover
{
     border: 1px solid white;
}
.logo img
{
     width: 150px;
     height: auto;
     float: left;
}
body
{
     font-family: monospace;
}
.row
{
     max-width:1400px;
     margin: auto;
}
.hero
{
      position: absolute;
      width: 1200px;
      margin-left: 0px;
      margin-top: 0px;
}
h2
{
      color: white;
      text-tranform: uppercase;
      font-size: 70px;
      text-align: center;
      margin-top: 230px;
}
h5
{
      color: white;
      text-tranform: uppercase;
      font-size: 20px;
      text-align: center;
}
p
{
      color: white;
      text-tranform: uppercase;
      font-size: 20px;
      text-align: center;
      margin-left: 130px
}









